language: ruby
rvm:
  - 2.0.0
env:
    global:
        - DATABASE_URL="postgres://postgres@localhost:5432/travis_ci_test"
notifications:
  recipients:
    - jari.bakken@gmail.com
  irc:
    channels:
      - "irc.freenode.net#selenium"
    on_success: change
    on_failure: change
    template:
      - "%{author} | %{commit} | %{message} | %{build_url}"
services:
  - postgresql
before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - for file in **/*.rb; do ruby -c $file || return 1; done